**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

#Ignore GCP SVC Key
k8s-assignment-428917-026c1bfe0279.json